<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <pluginGroups>
    <pluginGroup>org.jboss.maven.plugins</pluginGroup>
  </pluginGroups>
  
  <profiles>
    <profile>
      <id>jboss-public-repository</id>
	  
	  <!-- REPOSITORIOS -->
      <repositories>
	  
		<!-- JBOSS -->
        <repository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
		
		
		<!-- SPRING -->
		<repository>
			<id>org.springframework.security.taglibs.facelets</id>
			<url>http://spring-security-facelets-taglib.googlecode.com/svn/repo/</url>
		</repository>
		
		<repository>
		  <id>SpringSource Enterprise Bundle Repository – External Bundle Milestones</id>
		  <url>http://repository.springsource.com/maven/bundles/milestone</url>
		</repository>
		 
		<repository>
		  <id>SpringSource Enterprise Bundle Repository – SpringSource Bundle Releases</id>
		  <url>http://repository.springsource.com/maven/bundles/release</url>
		</repository>
		 
		<repository>
		  <id>SpringSource Enterprise Bundle Repository – External Bundle Releases</id>
		  <url>http://repository.springsource.com/maven/bundles/external</url>
		</repository>
		
		<!--  java.net  -->
		<repository>
          <id>maven2-repository.dev.java.net</id>
          <name>Java.net Repository for Maven</name>
          <url>http://download.java.net/maven/2/</url>
          <layout>default</layout>
        </repository>
		
		<!-- PRIMEFACES -->
		<repository>
			<id>prime-repo</id>
			<name>PrimeFaces Maven Repository</name>
			<url>http://repository.primefaces.org</url>
			<layout>default</layout>
		</repository>
		
		
		
      </repositories>
	  
	  <!-- PLUGINS -->
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
	  
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jboss-public-repository</activeProfile>
  </activeProfiles>
</settings>