/*CSS principal da App.*/
/* FIXME Unificar o css neste arquivo - migrar apenas o que está sendo usado. */
@media screen , projection {
	.BeNiceToMacIE5 {
		font-family: "\"}\"";
		font-family: inherit;
	}
	html,body,#wrapper,wrapper2 {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
	html>body,html>body #wrapper,html>body #wrapper2 {
		height: auto;
	}
	body {
		background-color: #EAECEE;
		font-family: Verdana, sans-serif;
		font-size: 11px; /* FIXME: Validar se 11 é o ideal */
		width: 99.5%;
	}
	div#wrapper {
		position: absolute;
		top: 0;
		left: 0;
		background: #eee;
	}
	#header {
		position: relative;
		z-index: 500;
		width: 100%;
		height: 80px;
		background: #fff url(images/logo.gif) no-repeat left top;
		/* img da app */
		border-bottom: 3px solid #c0c0c0;
		color: #f0f0f0; /* cor da fonte do header */
		margin: 0;
		padding: 0;
	}
	#headcontent {
		height: 60px;
		background: #ccc;
		margin-left: 200px; /* desconto da img da app */
		position: relative;
		padding: 10px;
	}
	#headerSystemTop {
		float: left;
		width: 70%;
	}
	#headerSystemName {
		font-size: 20px;
	}

	/*
	#header h1 {
		padding-top: 24px;
		font-size: 250%;
	}
	
	#header a {
		color: #f0f0f0;
	}
	*/
	#content {
		padding: 10px;
		min-height: 520px;
		background-color: #EEEEEE;
	}

	/* ------------------------------------ */
	#menu {
/* 		height: 30px;
		background: #ccc;
		padding: 10px;
		border-top: 2px solid #fefece;
		border-bottom: 2px solid #0000c0;
		 */
	}
	nav {
		display: block;
		width: 100%;
		background: #444;
		position: relative;
		z-index: 100;
/* 		font-family: arial, sans-serif; */
		margin: 0 auto;
		border-top: 5px solid #c60;
		text-align: center;
		font-size: 1em;
	}
	.menu {
/* 		width: 70%; */
		margin: 0 auto;
		padding: 0;
		list-style: none;
		text-align: left;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-ms-touch-action: none;
	}
	.menu div {
		position: absolute;
		background: #333;
		padding: 10px 10px 0 10px;
		z-index: 50;
		border-radius: 0 0 10px 10px
	}
	.menu div.sub1 {
		width: 150px;
	}
	.menu div.sub2 {
		width: 300px;
	}
	.menu div.sub3 {
		width: 450px;
	}
	.menu div.sub1 dl {
		width: 100%;
		-webkit-column-count: 1;
		-webkit-column-gap: 5%;
		-webkit-column-rule: 1px dotted #888;
		-moz-column-count: 1;
		-moz-column-gap: 5%;
		-moz-column-rule: 1px dotted #888;
		column-count: 1;
		column-gap: 5%;
		column-rule: 1px dotted #888;
	}
	.menu div.sub2 dl {
		width: 100%;
		-webkit-column-count: 2;
		-webkit-column-gap: 5%;
		-webkit-column-rule: 1px dotted #888;
		-moz-column-count: 2;
		-moz-column-gap: 5%;
		-moz-column-rule: 1px dotted #888;
		column-count: 2;
		column-gap: 5%;
		column-rule: 1px dotted #888;
	}
	.menu div.sub3 dl {
		width: 100%;
		-webkit-column-count: 3;
		-webkit-column-gap: 5%;
		-webkit-column-rule: 1px dotted #888;
		-moz-column-count: 3;
		-moz-column-gap: 5%;
		-moz-column-rule: 1px dotted #888;
		column-count: 3;
		column-gap: 5%;
		column-rule: 1px dotted #888;
	}
	.menu li.top-li {
		float: left;
		position: relative;
		background: #444;
		z-index: 50;
	}
	.menu li.top-li a.top-a {
		display: block;
		float: left;
		line-height: 40px;
		color: #ccc;
		padding: 0 18px 0 10px;
		text-decoration: none;
		font-size: 0.9em;
		white-space: nowrap;
	}
	.menu li.top-li b {
		display: block;
		width: 100%;
		height: 40px;
		background: url(trans.gif);
		position: relative;
		z-index: 100;
		-webkit-transition: 0.75s;
		-o-transition: 0.75s;
		-moz-transition: 0.75s;
		transition: 0.75s;
	}
	.menu li.top-li a.top-a:hover {
		background: #333;
		color: #fff;
		text-decoration: underline;
		position: relative;
		z-index: 10;
	}
	.menu li.top-li:hover>a.top-a {
		background: #333;
		color: #fff;
		text-decoration: underline;
		position: relative;
		z-index: 10;
	}
	.menu li.has-sub a.top-a:hover {
		text-decoration: underline;
		position: relative;
		z-index: 10;
	}
	.menu li.has-sub:hover>a.top-a {
		text-decoration: underline;
		position: relative;
		z-index: 10;
	}
	.menu div dl {
		padding: 0;
		margin: 0;
	}
	.menu div dt {
		display: block;
		padding: 5px 0 5px 0;
		margin: 0;
		color: #c60;
		font-size: 0.8em;
		line-height: 20px;
	}
	.menu div dd {
		display: block;
		padding: 0;
		margin: 0;
	}
	.menu div dd a {
		line-height: 20px;
		color: #fff;
		background: #666;
		display: block;
		margin-bottom: 1px;
		padding: 5px 10px;
		text-decoration: none;
		font-size: 0.8em;
	}
	.menu div dd a:hover {
		background: #ccc;
		color: #000;
	}
	.menu .bottomLine {
		width: 100%;
		padding: 5px 10px;
		background: #000;
		margin: 10px 0 0 -10px;
		border-top: 1px solid #888;
		border-radius: 0 0 10px 10px;
		line-height: 20px;
		font-size: 0.8em;
		color: #c60;
		font-weight: normal;
	}
	.menu .bottomLine a {
		display: inline;
		padding: 0 3px;
		line-height: 20px;
		background: none;
		color: #ccc;
		text-decoration: underline;
	}
	.menu .bottomLine a:hover {
		color: #fff;
		text-decoration: none;
	}
	.menu li:hover {
		z-index: 60;
	}
	.menu li:hover>b {
		height: 0;
	}
	.menu li div,.menu li div.left {
		left: -9999px;
		top: -3000px;
		display: none;
	}
	.menu li:hover div {
		left: 0;
		top: 40px;
		display: block;
	}
	.menu li:hover div.left {
		left: auto;
		right: 0;
		display: block;
	}
	.clear {
		clear: left;
		height: 0;
		overflow: hidden;
	}
	@media only screen and (max-width:1024px) {
		nav {
			font-size: 1.2em;
		}
		.menu li:hover div {
			top: 0px;
		}
		.menu li.top-li {
			float: left;
			width: 100%;
			border-bottom: 1px solid #888;
			height: 40px;
		}
		.menu li.top-li>a.top-a {
			width: 100%;
			padding: 0;
			margin: 0;
			text-indent: 10px;
		}
		.menu div.sub1 {
			width: 80%;
		}
		.menu div.sub2 {
			width: 80%;
		}
		.menu div.sub3 {
			width: 80%;
		}
		.menu li:hover div {
			left: 20%;
			display: block;
			margin-left: -20px;
		}
		.menu li:hover div.left {
			left: 20%;
			right: auto;
			display: block;
		}
		.menu div.sub1 dl,.menu div.sub2 dl,.menu div.sub3 dl {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
		}
	}
	
	@media only screen and (max-width:1024px) and (orientation:portrait) {
		.menu div.sub1 dl,.menu div.sub2 dl,.menu div.sub3 dl {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
	}
	@media only screen and (max-width:768px) {
		.menu div.sub1 dl,.menu div.sub2 dl,.menu div.sub3 dl {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
	}
	@media only screen and (max-width:640px) {
		.menu div.sub1 dl,.menu div.sub2 dl,.menu div.sub3 dl {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}
	@media only screen and (min-device-width : 320px) and (max-device-width
		: 480px) {
		nav {
			font-size: 1.5em;
		}
		.menu div.sub1 dl,.menu div.sub2 dl,.menu div.sub3 dl {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}
	
	
	/* ========= Botoes do Menu =============== */
	#bt_home:hover {
	    background: url('/resources/imagens/ico_home_02.png') no-repeat scroll 0px 0px transparent;
	    float: left;
	    height: 64px;
	    margin-left: -8px;
	    margin-top: 15px;
	    width: 38px;
	    margin-right: 10px;
	}
	#bt_home {
	    background: url('/resources/imagens/ico_home_01.png') no-repeat scroll 0px 0px transparent;
	    float: left;
	    height: 64px;
	    margin-left: -8px;
	    margin-top: 15px;
	    width: 38px;
	    margin-right: 10px;
	}
	
	
	/* ------------------------------------ */
	#footer {
		clear: both;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 78px;
		background: #888;
		color: #fef9ee;
		overflow: hidden;
		text-align: center;
		padding: 8px;
		margin: 8px;
		border-top: 2px solid #c0c0c0;
	}
	#footerContent {
		padding: 10px;
	}
	#footerContent p {
		padding: 5px 0;
		margin: 0;
	}
	#main {
		margin: 0;
		padding: 0;
	}
	/* \*/
	* html #footer {
		position: absolute;
	}
	* html #main {
		padding-bottom: 100px;
	}
	/* \*/
	head:first-child+body div#footer {
		position: absolute;
		z-index: 0;
	}
	head:first-child+body div#main {
		padding-bottom: 100px;
	}
}

@media all and (min-width:0px) {
	head ~body {
		height: 100%;
	}
}



/*-------- Box --------- */
.simple {
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* ----------------- */


